@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/roboto');

body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Montserrat', -apple-system,"Noto Sans","Helvetica Neue",Helvetica,"Nimbus Sans L",Arial,"Liberation Sans","PingFang SC","Hiragino Sans GB","Noto Sans CJK SC","Source Han Sans SC","Source Han Sans CN","Microsoft YaHei","Wenquanyi Micro Hei","WenQuanYi Zen Hei","ST Heiti",SimHei,"WenQuanYi Zen Hei Sharp",sans-serif;
}

::selection {
  background-color: #419B9E;
  color: white;
}

::-moz-selection
{
  background-color: #419B9E;
  color: white;
}

.page_title {
  text-align: center;
  height: 500px;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
  height: auto;
}

.fixed {
  background-color: rgb(65, 155, 158);
  animation: myfirst 0.5s;
}

.fixout {
  background-color: rgba(255, 255, 255, 0.377);
  animation: mysecond 0.37s;
}

::-webkit-scrollbar {
  /*隐藏滚轮*/
  display: none;
}

.navbar {
  /* position: relative; */
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  z-index: 9999;
}

@keyframes myfirst {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes myfirst {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mysecond {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes mysecond
/* Safari and Chrome */

  {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

del {
  color: #FFFFFF;
  text-decoration: none;
}

del:hover {
  color: #000000;
}

blockquote {
  border: 1px solid #e9ecef;
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
}

.updown-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadein {
  animation: fadein 0.8s;
}

a {
  color: #419B9E;
  text-decoration: underline;
}
a:hover {
  color: #367d80;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}


.btn-default {
  color: #fff;
  background-color: #419B9E;
  border-color: #419B9E;
}
.btn-default:hover {
  color: #fff;
  background-color: #367D80;
  border-color: #367D80;
}
.btn-check:focus + .btn-default, .btn-default:focus {
  color: #fff;
  background-color: #367D80;
  border-color: #367D80;
  box-shadow: 0 0 0 0.25rem rgb(41, 95, 97);
}
.btn-check:checked + .btn-default, .btn-check:active + .btn-default, .btn-default:active, .btn-default.active, .show > .btn-default.dropdown-toggle {
  color: #fff;
  background-color: #367D80;
  border-color: #367D80;
}
.btn-check:checked + .btn-default:focus, .btn-check:active + .btn-default:focus, .btn-default:active:focus, .btn-default.active:focus, .show > .btn-default.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgb(41, 95, 97);
}
.btn-default:disabled, .btn-default.disabled {
  color: #fff;
  background-color: #6a9b9c;
  border-color: #6a9b9c;
}
