@import url("https://fonts.loli.net/css2?family=Noto+Serif+SC");
body {
  background-image: url("/bg.jpg");
  /* filter: blur(4px); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Noto Serif SC", "Helvetica Neue", Helvetica, "Nimbus Sans L",
    Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB",
    "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN",
    "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti",
    SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

.card {
  opacity: 90%;
}

::selection {
  text-shadow: none;
  background-color: #419b9e;
  color: white;
}

::-moz-selection {
  text-shadow: none;
  background-color: #419b9e;
  color: white;
}

.page_title {
  text-align: center;
  height: 500px;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blur {
  filter: blur(0px);
  animation: bl 1s;
}

img {
  max-width: 100%;
  height: auto;
}

.fixout {
  /* background-color: rgba(255, 255, 255, 0.377); */
  background-color: rgba(77, 193, 197, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  animation: mysecond 0.37s;
}

::-webkit-scrollbar {
  position: fixed;
  width: 5px;
  background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 2.5px;
  background: #419b9eaa;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
}

.mynav {
  /* position: relative; */
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  z-index: 9999;
}

/* @keyframes scrol {
  0% {
    width: 5px;
  }
  50% {
    width: 10px;
  }
  100% {
    width: 20px;
  }
}

@-webkit-keyframes scrol {
  0% {
    width: 5px;
  }
  50% {
    width: 10px;
  }
  100% {
    width: 20px;
  }
} */

@keyframes bl {
  0% {
    filter: blur(100px);
  }
  100% {
    filter: blur(0px);
  }
}

@-webkit-keyframes bl {
  0% {
    filter: blur(100px);
  }
  100% {
    filter: blur(0px);
  }
}

@keyframes myfirst {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes myfirst {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mysecond {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes mysecond
/* Safari and Chrome */ {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

del {
  color: #ffffff;
  text-decoration: none;
}

del:hover {
  color: #000000;
}

blockquote {
  border: 1px solid #e9ecef;
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
}

.updown-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadein {
  animation: fadein 0.8s;
}

a {
  color: #419b9e;
  text-decoration: underline;
}

a:hover {
  color: #367d80;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

.btn-default {
  color: #fff;
  background-color: #419b9e;
  border-color: #419b9e;
}

.btn-default:hover {
  color: #fff;
  background-color: #367d80;
  border-color: #367d80;
}

.btn-check:focus + .btn-default,
.btn-default:focus {
  color: #fff;
  background-color: #367d80;
  border-color: #367d80;
  box-shadow: 0 0 0 0.25rem rgb(41, 95, 97);
}

.btn-check:checked + .btn-default,
.btn-check:active + .btn-default,
.btn-default:active,
.btn-default.active,
.show > .btn-default.dropdown-toggle {
  color: #fff;
  background-color: #367d80;
  border-color: #367d80;
}

.btn-check:checked + .btn-default:focus,
.btn-check:active + .btn-default:focus,
.btn-default:active:focus,
.btn-default.active:focus,
.show > .btn-default.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgb(41, 95, 97);
}

.btn-default:disabled,
.btn-default.disabled {
  color: #fff;
  background-color: #6a9b9c;
  border-color: #6a9b9c;
}

@keyframes rasin {
  0% {
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  100% {
    -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
}

@keyframes rasout {
  0% {
    -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  100% {
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
}

@keyframes rasclick {
  0% {
    -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  100% {
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
}

.raised {
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  animation: rasout 300ms;
}

.raised:hover {
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  animation: rasin 300ms;
}
.raised:active {
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  animation: rasclick 300ms;
}
