<!doctype html>
<html lang="{{ page.lang | default: site.lang }}">

<head>
    <script>
        var konfig = {
            delimiters: [
                { left: "$", right: '$', display: false }
            ]
        }
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
        integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link rel="icon" href="https://avatars.githubusercontent.com/u/41335471" type="image/x-icon" title="immccn123">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <link href="https://cdn.jsdelivr.net/gh/immccn123/immccn123.github.io@main/static/css/mycss.css" rel="stylesheet"> -->

    <link href="/static/css/mycss.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src='https://unpkg.com/valine/dist/Valine.min.js'></script>

    <!-- Code Highlight -->
    <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.2.0/styles/default.min.css">
    <script src="https://unpkg.com/@highlightjs/cdn-assets@11.2.0/highlight.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link src="/static/jqui/jquery-ui.min.css" type="stylesheet">
    <script src="/static/jqui/jquery-ui.min.js"></script>

    <script src="/static/assets/autoload.js"></script>
    <script src="/static/toc.js"></script>
    <script src="/static/index.js"></script>
    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.js"
        integrity="sha384-VQ8d8WVFw0yHhCk5E8I86oOhv48xLpnDZx5T9GogA/Y84DcCKWXDmSDfn13bzFZY"
        crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/contrib/auto-render.min.js"
        integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"
        onload="renderMathInElement(document.body, konfig);"></script>
    <title>{{ page.title | default: site.title }}</title>

</head>

<body>
    <div class="wrapper">
        <header {% unless site.description or site.github.project_tagline %} class="without-description lh" {% endunless
            %}>
            <div class="navbar navbar-expand-lg navbar-light fixout mynav" id="clrnav">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">{{ site.title | default: site.github.repository_name }}</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            {% for item in site.nav %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ item.link }}">{{ item.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div style="height: 150px;"></div>
    <section class="container">
        {{ content }}
    </section>
    </div>
    <div class="waifu">
        <div class="waifu-tips"></div><canvas id="live2d" class="live2d"></canvas>
        <div class="waifu-tool"><span class="fui-home"></span> <span class="fui-chat"></span> <span
                class="fui-eye"></span> <span class="fui-user"></span> <span class="fui-photo"></span> <span
                class="fui-info-circle"></span> <span class="fui-cross"></span></div>
    </div>
    <footer style="padding-left: 2em; min-height: 250px; background-color: rgba(228, 228, 228, 0.7)" class="lh">
        <div style="height: 10px;"></div>
        <p>
            <span>{{ site.copyright }}</span>
        <p style="color: grey;">
        <h1 style="color: grey; font-weight: bolder;">{{ site.title }}</h1>
        <span id="jinrishici-sentence">Loading...</span>
        <br>
        <a href="https://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=K0deRFJEXlNCa0JGRkhIRRoZGAVTUlE"
            style="text-decoration: none;" id="mailme">给我写信ヾ(≧▽≦*)o</a>
    </footer>
    <script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
</body>
<script>
    setTimeout(function () {
        hljs.highlightAll();
    }, 2000);
</script>

</html>