<!doctype html>
<html lang="{{ page.lang | default: site.lang }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!---->

    <link rel="icon" href="https://avatars.githubusercontent.com/u/41335471" type="image/x-icon" title="immccn123">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css"
        integrity="sha384-cLRrMq39HOZdvE0j6yBojO4+1PrHfB7a9l5qLcmRm/fiWXYY+CndJPmyu5FV/9Tw" crossorigin="anonymous" />
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js"
        integrity="sha384-gCMZcshYKOGRX9r6wbDrvF+TcCCswSHFucUzUPwka+Gr+uHgjlYvkABr95TCOz3A"
        crossorigin="anonymous"></script>
    <div class="wrapper">
        <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless
            %}>
            <div class="mdui-appbar mdui-color-teal">
                <div class="mdui-toolbar">
                    <a href="/" class="mdui-typo-title">{{ site.title | default: site.github.repository_name }}</a>
                </div>
                <div class="mdui-tab mdui-color-teal" mdui-tab>
                    {% for item in site.nav %}
                        <a class="mdui-btn" href="{{ item.link }}">
                            <strong>{{ item.name }}</strong>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </header>
        <section class="mdui-typo">

            {{ content }}

        </section>
    </div>

    <footer>
        <p>{{ site.copyright | default: "copyright not found in _config.yml" }}</p>
    </footer>
</body>

</html>