---
layout: default
---
<div style="min-height:1000px">
    <div id="article">
        <article>
            {{ content }}
        </article>
    </div>
    <div id="zw" style="height: 500px;font-size: 2em;"><!--再往下划划呗(。・∀・)ノ--></div>
    <script>$("#article").hide()</script>
    <div id="vcomments">
        <hr>再往下滑才有评论(*￣3￣)╭
    </div>
    <script>$("#vcomments").hide()</script>
</div>
<div id="zw2" style="height: 1500px;"></div>
<script>
    var tag = 0;
    function fade() {
        if ($(window).scrollTop() >= 200 && $(window).scrollTop() < 500) {
            $("#article").fadeIn();
            $("#zw").hide();
        } else if ($(window).scrollTop() >= 600 && tag == 0) {
            $("#vcomments").text("评论正在加载ヾ(•ω•`)o");
            new Valine({
                el: '#vcomments',
                appId: 'kaXCKtR4DVao6qH1wqdvL8DY-9Nh9j0Va',
                appKey: 'gPqwNA91MleD4yXgw8ajr3mK',
                placeholder: '说说呗ψ(._. )>',
                visitor: true
            });
            $("#zw2").hide();
            tag = 1;
            $("#vcomments").fadeIn();
        }
        $(".vempty").text("来评论吧(。・∀・)ノ");
    }
    $(window).on("scroll", fade);
    $(window).on("load", fade);
</script>