---
layout: default
---
{% comment %}
{% if page.type != "pg" %}
<div class="offcanvas offcanvas-start" tabindex="-1" id="content" aria-labelledby="ctc">
    <div class="offcanvas-header">
        <h5>目录</h5>
    </div>
    <div id="toc"></div>
    <script type="text/javascript">
        function shww() {
            document.getElementById("content").toggle()
        }
        $(document).ready(function () {
            $('#toc').toc();
        });
    </script>
</div>
<button class="btn btn-default" aria-label="ctc" data-bs-toggle="content"
    style="bottom: 5px; position: fixed; left: 9px; z-index: 100001; width: 75px; height: 75px;"
    onclick="shww();" id="btncnt">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
    </svg>
</button>
{% endif %}
{% endcomment %}
<div class="row">
    <div class="card raised col">
        <div style="height: 50px;"></div>
        <div class="container">
            <h1>{{ page.title | default: site.title }}</h1>
            <p><i class="bi bi-calendar3"></i> {{ page.date | date_to_string }} <i class="bi bi-person"></i>Author: {{
                page.author | default: site.author }}</p>
            <div id="article">
                <article>
                    {{ content }}
                </article>
            </div>
            <div style="height: 50px;"></div>
        </div>
    </div>

</div>
<br>
<div class="card raised container">
    <div style="height: 10px;"></div>
    <div id="vcomments"></div>
    <div style="height: 10px;"></div>
</div>
<br>
<script>
    $("#vcomments").text("评论正在加载ヾ(•ω•`)o");
    new Valine({
        el: '#vcomments',
        appId: 'p66U5IOeMkSaiaGqbclocJ09-MdYXbMMI',
        appKey: 's1VrWSEv2YGCUqyX6deFtHBv',
        placeholder: '说说呗ψ(._. )>',
        visitor: true
    });
    $(".vempty").text("来评论吧(。・∀・)ノ");
    $(".vinput").addClass("form-control");
    $(".vinput").removeClass("vinput");
    $(".vheader").addClass("input-group");
    $(".vbtn").addClass("btn");
    $(".vbtn").removeClass("vbtn");
</script>